/*Revit Icons
----------------------------------*/

/* states and images */
.revit-icon {
	width: 18px;
	height: 18px;
}
.revit-icon {
	background-image: url(images/revit-icons.png);
}
.revit-icon-medium {
	width: 38px;
	height: 38px;
}
.revit-icon-medium {
	background-image: url(images/revit-icons-38x38.png);
}
v
/* positioning 18px icons*/
.revit-icon-copy { background-position: 0px 0px; }
.revit-icon-rename { background-position: -20px 0px; }
.revit-icon-delete { background-position: -40px 0; }
.revit-icon-visual-style-wireframe { background-position: -60px 0; }
.revit-icon-visual-style-hiddenline { background-position: -80px 0; }
.revit-icon-visual-style-shaded { background-position: -100px 0; }
.revit-icon-visual-style-consistent { background-position: -120px 0; }
.revit-icon-visual-style-realistic { background-position: -140px 0; }
.revit-icon-visual-style-raytrace { background-position: -160px 0; }
.revit-icon-sunpath-off { background-position: -180px 0; }
.revit-icon-sunpath-on { background-position: -200px 0; }
.revit-icon-shadows-off { background-position: -60px -20px; }
.revit-icon-shadows-on { background-position: -80px -20px; }
.revit-icon-render-off { background-position: -100px -20px; }
.revit-icon-render-on { background-position: -120px -20px; }
.revit-icon-cropview-off { background-position: -140px -20px; }
.revit-icon-cropview-on { background-position: -160px -20px; }
.revit-icon-cropregion-hide { background-position: -180px -20px; }
.revit-icon-cropregion-show { background-position: -200px -20px; }
.revit-icon-3d-unlock { background-position: 0px -40px; }
.revit-icon-3d-lock { background-position: -20px -40px; }
.revit-icon-temporary-hide-disable { background-position: -40px -40px; }
.revit-icon-temporary-hide-enable { background-position: -60px -40px; }
.revit-icon-revealhidden-off { background-position: -80px -40px; }
.revit-icon-revealhidden-on { background-position: -100px -40px; }
.revit-icon-temporary-view-disable { background-position: -120px -40px; }
.revit-icon-temporary-view-enable { background-position: -140px -40px; }
.revit-icon-analytical-off { background-position: -160px -40px; }
.revit-icon-analytical-on { background-position: -180px -40px; }
.revit-icon-displacement-off { background-position: -200px -40px; }
.revit-icon-displacement-on { background-position: -220px -40px; }
.revit-icon-filter { background-position: 0px -60px; }
.revit-icon-worksets { background-position: -20px -60px; }
.revit-icon-workset { background-position: -40px -60px; }
.revit-icon-pendingrequests { background-position: -60px -60px; }
.revit-icon-designoptions { background-position: -80px -60px; }
.revit-icon-select-links-off { background-position: -100px -60px; }
.revit-icon-select-links-on { background-position: -120px -60px; }
.revit-icon-select-underlay-off { background-position: -140px -60px; }
.revit-icon-select-underlay-on { background-position: -160px -60px; }
.revit-icon-select-pinned-off { background-position: -180px -60px; }
.revit-icon-select-pinned-on { background-position: -200px -60px; }
.revit-icon-select-face-off { background-position: 0px -80px; }
.revit-icon-select-face-on { background-position: -20px -80px; }
.revit-icon-select-drag-off { background-position: -40px -80px; }
.revit-icon-select-drag-on { background-position: -60px -80px; }
.revit-icon-detaillevel-coarse { background-position: 0px -100px; }
.revit-icon-detaillevel-medium { background-position: -20px -100px; }
.revit-icon-detaillevel-fine { background-position: -40px -100px; }
.revit-icon-open { background-position: 0px -140px; }
.revit-icon-save { background-position: -40px -140px; }
.revit-icon-synchronize { background-position: -20px -140px; }
.revit-icon-undo { background-position: -60px -140px; }
.revit-icon-redo { background-position: -80px -140px; }
.revit-icon-measure { background-position: -100px -140px; }
.revit-icon-dimension { background-position: -120px -140px; }
.revit-icon-tag-category { background-position: -140px -140px; }
.revit-icon-qtext { background-position: -160px -140px; }
.revit-icon-view-3d { background-position: -180px -140px; }
.revit-icon-view-section { background-position: -200px -140px; }
.revit-icon-paint { background-position: -240px -140px; }
.revit-icon-paint-remove { background-position: -280px -140px; }
.revit-icon-thinlines-off { background-position: 0px -160px; }
.revit-icon-thinlines-on { background-position: -20px -160px; }
.revit-icon-closehidden { background-position: -40px -160px; }
.revit-icon-switchwindows { background-position: -60px -160px; }
.revit-icon-export-dwg-2013 { background-position: 0px -180px; }
.revit-icon-export-dxf-2013 { background-position: -20px -180px; }
.revit-icon-export-dgn-2013 { background-position: -40px -180px; }
.revit-icon-export-acis-2013 { background-position: -60px -180px; }
.revit-icon-export-dwg-2014 { background-position: -80px -180px; }
.revit-icon-export-dxf-2014 { background-position: -100px -180px; }
.revit-icon-export-dgn-2014 { background-position: -120px -180px; }
.revit-icon-export-acis-2014 { background-position: -140px -180px; }
.revit-icon-tag-beam { background-position: 0px -200px; }
.revit-icon-tag-multicategory { background-position: -20px -200px; }
.revit-icon-tag-material { background-position: -40px -200px; }
.revit-icon-tag-area { background-position: -60px -200px; }
.revit-icon-tag-room { background-position: -80px -200px; }
.revit-icon-tag-space { background-position: -100px -200px; }
.revit-icon-view-reference { background-position: -120px -200px; }
.revit-icon-stair-tread-number { background-position: -140px -200px; }
.revit-icon-tag-rebar { background-position: -160px -200px; }
.revit-icon-legend-duct { background-position: -180px -200px; }
.revit-icon-legend-pipe { background-position: -200px -200px; }
.revit-icon-legend-color { background-position: -220px -200px; }
.revit-icon-symbol-span { background-position: 0px -220px; }
.revit-icon-symbol-beam { background-position: -20px -220px; }
.revit-icon-stair-path { background-position: -40px -220px; }
.revit-icon-symbol-area { background-position: -60px -220px; }
.revit-icon-symbol-path { background-position: -80px -220px; }
.revit-icon-symbol-fabric { background-position: -100px -220px; }
.revit-icon-view-matchline { background-position: -120px -220px; }
.revit-icon-window-replicate { background-position: 0px -240px; }
.revit-icon-window-cascade { background-position: -20px -240px; }
.revit-icon-properties-type { background-position: -40px -240px; }
.revit-icon-properties-match { background-position: -60px -240px; }
.revit-icon-cope { background-position: -80px -240px; }
.revit-icon-element-split { background-position: -100px -240px; }
.revit-icon-element-split-gap { background-position: -120px -240px; }
.revit-icon-element-pin { background-position: -140px -240px; }
.revit-icon-element-unpin { background-position: -160px -240px; }
.revit-icon-element-delete { background-position: -180px -240px; }
.revit-icon-cut { background-position: -200px -240px; }
.revit-icon-demolish { background-position: -220px -240px; }
.revit-icon-cut-boolean { background-position: 0px -260px; }
.revit-icon-join-boolean { background-position: -20px -260px; }
.revit-icon-modify-array { background-position: -40px -260px; }
.revit-icon-modify-scale { background-position: -60px -260px; }
.revit-icon-join-beam { background-position: -80px -260px; }
.revit-icon-join-wall { background-position: -100px -260px; }
.revit-icon-element-split-face { background-position: -120px -260px; }
.revit-icon-extend { background-position: -140px -260px; }
.revit-icon-extend-mulitple { background-position: -160px -260px; }
.revit-icon-linework { background-position: -180px -260px; }
.revit-icon-hideinview { background-position: -200px -260px; }
.revit-icon-overrideinview { background-position: -220px -260px; }

/* positioning 38px icons*/
.revit-icon-revit-2013 { background-position: 0px 0px; }
.revit-icon-revit-2014 { background-position: -40px 0px; }
.revit-icon-new { background-position: 0px -40px; }
.revit-icon-print { background-position: -40px -40px; }
.revit-icon-license { background-position: -80px -40px; }
.revit-icon-close { background-position: -120px -40px; }
.revit-icon-workflow { background-position: -160px -40px; }
.revit-icon-publish { background-position: -200px -40px; }
.revit-icon-export { background-position: -240px -40px; }
.revit-icon-export-cadformats { background-position: 0px -80px; }
.revit-icon-export-dwf { background-position: -40px -80px; }
.revit-icon-export-site { background-position: -80px -80px; }
.revit-icon-export-fbx { background-position: -120px -80px; }
.revit-icon-export-gbxml { background-position: -160px -80px; }
.revit-icon-export-gbxmlmass { background-position: -200px -80px; }
.revit-icon-export-ifc { background-position: -240px -80px; }
.revit-icon-export-database { background-position: -280px -80px; }
.revit-icon-saveas { background-position: -80px -140px; }
.revit-icon-modify { background-position: -120px -140px; }
.revit-icon-modify-selected { background-position: -160px -140px; }
.revit-icon-wall { background-position: 0px -180px; }
.revit-icon-wall-structure { background-position: -80px -1180px; }
.revit-icon-wall-byface { background-position: -120px -1180px; }
.revit-icon-wall-sweep { background-position: -160px -1180px; }
.revit-icon-wall-reveal { background-position: -200px -1180px; }
.revit-icon-door { background-position: -40px -180px; }
.revit-icon-window { background-position: -80px -180px; }
.revit-icon-component { background-position: -120px -180px; }
.revit-icon-component-modelinplace { background-position: -240px -1140px; }
.revit-icon-column { background-position: -160px -180px; }
.revit-icon-roof { background-position: -200px -180px; }
.revit-icon-roof-extrusion { background-position: 0px -1220px; }
.revit-icon-roof-byface { background-position: -40px -1220px; }
.revit-icon-roof-soffit { background-position: -80px -1220px; }
.revit-icon-roof-fascia { background-position: -120px -1220px; }
.revit-icon-roof-gutter { background-position: -160px -1220px; }
.revit-icon-ceiling { background-position: -240px -180px; }
.revit-icon-floor { background-position: -280px -180px; }
.revit-icon-curtain-system { background-position: 0px -220px; }
.revit-icon-curtain-grid { background-position: -40px -220px; }
.revit-icon-mullion { background-position: -80px -220px; }
.revit-icon-railing { background-position: -120px -220px; }
.revit-icon-ramp { background-position: -160px -220px; }
.revit-icon-stair { background-position: -200px -220px; }
.revit-icon-modeltext { background-position: -240px -220px; }
.revit-icon-modelline { background-position: -280px -220px; }
.revit-icon-modelgroup { background-position: 0px -260px; }
.revit-icon-room { background-position: -40px -260px; }
.revit-icon-room-separator { background-position: -80px -260px; }
.revit-icon-room-tag { background-position: -120px -260px; }
.revit-icon-area { background-position: -160px -260px; }
.revit-icon-area-boundary { background-position: -200px -260px; }
.revit-icon-area-tag { background-position: -240px -260px; }
.revit-icon-opening-byface { background-position: -280px -260px; }
.revit-icon-opening-shaft { background-position: 0px -300px; }
.revit-icon-opening-wall { background-position: -40px -300px; }
.revit-icon-opening-vertical { background-position: -80px -300px; }
.revit-icon-opening-dormer { background-position: -120px -300px; }
.revit-icon-level { background-position: -160px -300px; }
.revit-icon-grid { background-position: -200px -300px; }
.revit-icon-plane-set { background-position: -240px -300px; }
.revit-icon-plane-show { background-position: -280px -300px; }
.revit-icon-plane-ref { background-position: 0px -340px; }
.revit-icon-plane-viewer { background-position: -40px -340px; }
.revit-icon-link-revit { background-position: -80px -340px; }
.revit-icon-link-cad { background-position: -120px -340px; }
.revit-icon-link-dwf { background-position: -160px -340px; }
.revit-icon-link-decal { background-position: -200px -340px; }
.revit-icon-link-pointcloud { background-position: -240px -340px; }
.revit-icon-link-manage { background-position: -280px -340px; }
.revit-icon-import-cad { background-position: 0px -380px; }
.revit-icon-import-xml { background-position: -40px -380px; }
.revit-icon-import-file { background-position: -80px -380px; }
.revit-icon-import-image { background-position: -120px -380px; }
.revit-icon-manage-image { background-position: -160px -380px; }
.revit-icon-load-family { background-position: -200px -380px; }
.revit-icon-load-group { background-position: -240px -380px; }
.revit-icon-dimension-aligned { background-position: -280px -380px; }
.revit-icon-dimension-linear { background-position: 0px -420px; }
.revit-icon-dimension-angular { background-position: -40px -420px; }
.revit-icon-dimension-radial { background-position: -80px -420px; }
.revit-icon-dimension-diameter { background-position: -120px -420px; }
.revit-icon-dimension-arc { background-position: -160px -420px; }
.revit-icon-spot-elevation { background-position: -200px -420px; }
.revit-icon-spot-coordinate { background-position: -240px -420px; }
.revit-icon-spot-slope { background-position: -280px -420px; }
.revit-icon-detailline { background-position: 0px -460px; }
.revit-icon-region { background-position: -40px -460px; }
.revit-icon-detail-component { background-position: -80px -460px; }
.revit-icon-detail-component-repeating { background-position: -120px -460px; }
.revit-icon-revision-cloud { background-position: -160px -460px; }
.revit-icon-detailgroup { background-position: -200px -460px; }
.revit-icon-insulation { background-position: -240px -460px; }
.revit-icon-text { background-position: -280px -460px; }
.revit-icon-checkspelling { background-position: 0px -500px; }
.revit-icon-findreplace { background-position: -40px -500px; }
.revit-icon-tag-bycategory { background-position: -80px -500px; }
.revit-icon-tag-all { background-position: -120px -500px; }
.revit-icon-tag-keynote-element { background-position: -160px -500px; }
.revit-icon-tag-keynote-material { background-position: 0px -1180px; }
.revit-icon-tag-keynote-user { background-position: -40px -1180px; }
.revit-icon-symbol { background-position: -200px -500px; }
.revit-icon-worksets { background-position: -240px -500px; }
.revit-icon-synchronize { background-position: -280px -500px; }
.revit-icon-reloadlatest { background-position: 0px -540px; }
.revit-icon-relinquish { background-position: -40px -540px; }
.revit-icon-history { background-position: -80px -540px; }
.revit-icon-restore { background-position: -120px -540px; }
.revit-icon-requests { background-position: -160px -540px; }
.revit-icon-copymonitor { background-position: -200px -540px; }
.revit-icon-coordinationreview { background-position: -240px -540px; }
.revit-icon-coordinationsettings { background-position: -280px -540px; }
.revit-icon-reconcilehosting { background-position: 0px -580px; }
.revit-icon-interference { background-position: -40px -580px; }
.revit-icon-viewtemplates { background-position: -80px -580px; }
.revit-icon-visibilitygraphics { background-position: -120px -580px; }
.revit-icon-filters { background-position: -160px -580px; }
.revit-icon-thinlines { background-position: -200px -580px; }
.revit-icon-hiddenlines-show { background-position: -240px -580px; }
.revit-icon-hiddenlines-remove { background-position: -280px -580px; }
.revit-icon-cutprofile { background-position: 0px -620px; }
.revit-icon-render { background-position: -40px -620px; }
.revit-icon-render-cloud { background-position: -80px -620px; }
.revit-icon-render-gallery { background-position: -120px -620px; }
.revit-icon-3dview { background-position: -160px -620px; }
.revit-icon-view-camera { background-position: -200px -620px; }
.revit-icon-view-walk { background-position: -240px -620px; }
.revit-icon-section { background-position: -280px -620px; }
.revit-icon-view-callout { background-position: 0px -660px; }
.revit-icon-view-callout-sketch { background-position: -40px -660px; }
.revit-icon-view-plan { background-position: -80px -660px; }
.revit-icon-view-plan-floor { background-position: -120px -660px; }
.revit-icon-view-plan-reflected { background-position: -160px -660px; }
.revit-icon-view-plan-framing { background-position: -200px -660px; }
.revit-icon-view-plan-regoin { background-position: -240px -660px; }
.revit-icon-view-plan-area { background-position: -280px -660px; }
.revit-icon-view-elevation { background-position: 0px -700px; }
.revit-icon-view-drafting { background-position: -40px -700px; }
.revit-icon-view-duplicate { background-position: -80px -700px; }
.revit-icon-view-duplicate-detailing { background-position: -120px -700px; }
.revit-icon-view-duplicate-dependent { background-position: -160px -700px; }
.revit-icon-view-legend { background-position: -200px -700px; }
.revit-icon-view-legend-keynote { background-position: -240px -700px; }
.revit-icon-view-schedule { background-position: -280px -700px; }
.revit-icon-view-schedule-quantities { background-position: 0px -740px; }
.revit-icon-view-schedule-column { background-position: -40px -740px; }
.revit-icon-view-schedule-materials { background-position: -80px -740px; }
.revit-icon-view-schedule-sheetlist { background-position: -120px -740px; }
.revit-icon-view-schedule-note { background-position: -160px -740px; }
.revit-icon-view-schedule-views { background-position: -200px -740px; }
.revit-icon-view-scopebox { background-position: -240px -740px; }
.revit-icon-sheet { background-position: -280px -740px; }
.revit-icon-addview { background-position: 0px -780px; }
.revit-icon-titleblock { background-position: -40px -780px; }
.revit-icon-revisions { background-position: -80px -780px; }
.revit-icon-guidegrid { background-position: -120px -780px; }
.revit-icon-window-switch { background-position: -160px -780px; }
.revit-icon-window-closehidden { background-position: -200px -780px; }
.revit-icon-ui { background-position: -240px -780px; }
.revit-icon-materials { background-position: 0px -820px; }
.revit-icon-objectstyles { background-position: -40px -820px; }
.revit-icon-snaps { background-position: -80px -820px; }
.revit-icon-project-information { background-position: -120px -820px; }
.revit-icon-project-parameters { background-position: -160px -820px; }
.revit-icon-project-units { background-position: -200px -820px; }
.revit-icon-project-parameters-shared { background-position: -240px -820px; }
.revit-icon-project-transfer { background-position: -280px -820px; }
.revit-icon-purge { background-position: 0px -860px; }
.revit-icon-settings-structural { background-position: -40px -860px; }
.revit-icon-settings-mep { background-position: -80px -860px; }
.revit-icon-settings-panelschedule { background-position: -120px -860px; }
.revit-icon-settings-additional { background-position: -120px -820px; }
.revit-icon-settings-fill { background-position: -200px -860px; }
.revit-icon-settings-material { background-position: -240px -860px; }
.revit-icon-settings-analysis { background-position: -280px -860px; }
.revit-icon-settings-line-styles { background-position: 0px -900px; }
.revit-icon-settings-line-weights { background-position: -40px -900px; }
.revit-icon-settings-line-patterns { background-position: -80px -900px; }
.revit-icon-settings-underlay { background-position: -120px -900px; }
.revit-icon-settings-sun { background-position: -160px -900px; }
.revit-icon-settings-arrowhead { background-position: -200px -900px; }
.revit-icon-settings-temporarydimensions { background-position: -240px -900px; }
.revit-icon-settings-detaillevel { background-position: -280px -900px; }
.revit-icon-location { background-position: 0px -940px; }
.revit-icon-coordinates { background-position: -40px -940px; }
.revit-icon-coordinates-acquire { background-position: -80px -940px; }
.revit-icon-coordinates-publish { background-position: -120px -940px; }
.revit-icon-coordinates-specify { background-position: -160px -940px; }
.revit-icon-coordiantes-report { background-position: -200px -940px; }
.revit-icon-position { background-position: -240px -940px; }
.revit-icon-position-relocate { background-position: -280px -940px; }
.revit-icon-position-rotate { background-position: 0px -980px; }
.revit-icon-mirror-project { background-position: -40px -980px; }
.revit-icon-rotate-project { background-position: -80px -980px; }
.revit-icon-designoptions { background-position: -120px -980px; }
.revit-icon-manage-links { background-position: -160px -980px; }
.revit-icon-manage-images { background-position: -200px -980px; }
.revit-icon-manage-decals { background-position: -240px -980px; }
.revit-icon-view-starting { background-position: -280px -980px; }
.revit-icon-phases { background-position: 0px -1020px; }
.revit-icon-properties { background-position: -40px -1020px; }
.revit-icon-selectid { background-position: -80px -1020px; }
.revit-icon-selectionid { background-position: -120px -1020px; }
.revit-icon-macro-manage { background-position: -160px -1020px; }
.revit-icon-macro-security { background-position: -200px -1020px; }
.revit-icon-warnings { background-position: -240px -1020px; }
.revit-icon-legend-component { background-position: -280px -1020px; }
.revit-icon-properties-type { background-position: 0px -1060px; }
.revit-icon-modify-align { background-position: -40px -1060px; }
.revit-icon-modify-offset { background-position: -80px -1060px; }
.revit-icon-modify-move { background-position: -120px -1060px; }
.revit-icon-modify-copy { background-position: -160px -1060px; }
.revit-icon-modify-mirror-pickline { background-position: -200px -1060px; }
.revit-icon-modify-mirror-drawline { background-position: -240px -1060px; }
.revit-icon-modify-rotate { background-position: -280px -1060px; }
.revit-icon-modify-trim { background-position: 0px -1100px; }
.revit-icon-modify-measure { background-position: -40px -1100px; }
.revit-icon-modify-assembly { background-position: -80px -1100px; }
.revit-icon-modify-parts { background-position: -120px -1100px; }
.revit-icon-modifiy-group { background-position: -160px -1100px; }
.revit-icon-modify-createsimilar { background-position: -200px -1100px; }
.revit-icon-modify-profile-edit { background-position: -240px -1100px; }
.revit-icon-modify-profile-reset { background-position: -280px -1100px; }
.revit-icon-wall-attach { background-position: 0px -1140px; }
.revit-icon-wall-detach { background-position: -40px -1140px; }
.revit-icon-modify-paste { background-position: -80px -1140px; }
.revit-icon-text-edit { background-position: -120px -1140px; }
.revit-icon-workplane { background-position: -160px -1140px; }
.revit-icon-face-picknew { background-position: -200px -1140px; }
.revit-icon-blank { background-position: -280px -1140px; }
.revit-icon-blank { background-position: -240px -1180px; }
.revit-icon-blank { background-position: -280px -1180px; }