{# src/Application/Sonata/UserBundle/Resources/views/Email/default.email.html.twig #}

{% block body_text %}
{% autoescape false %}
Hello {{ user.username }},
<p>
    {% block body_message %}
    {% endblock %}
</p>
RHA Web
{% endautoescape %}
{% endblock %}
