parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_name2:    limetrail
    database_name3:    rha
    database_name4:    demo
    database_user:     root
    database_password: ~
    database_socket:   /var/run/mysqld/mysqld.sock

    mailer_transport:  sendmail
    mailer_host:       127.0.0.1
    mailer_user:       www-data
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    node_path:           /usr/bin/node
    node_paths:        [/usr/local/lib/node_modules, /usr/local/bin]
    java_path:           /usr/bin/java
    uglifycss:          /usr/local/bin/uglifycss
    uglifyjs:           /usr/local/bin/uglifyjs2
    
    qb_user: some_user
    qb_pass: secret_password
