{% extends '::base.html.twig' %}



{% block pageheadscripts %}
{% javascripts
      '@DataGridBundle/Resources/public/js/js/highcharts.js'
      'bundles/datagrid/js/JqGrid/js/ViewCommon.js'
   %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}

<script>

</script>
{% endblock %}

{% block content %}
   <div id="container" style="width:100%; height:400px;">Blank</div>
{% endblock %}
