
{# <div id="container">
    <footer> #}
        {% block body_container_footer %}
            <div class="footer ">
              <p>&copy;2014,2015 RHA</p>
            </div>
            {% block footer_content %}
            {% endblock %}
        {% endblock %}
{#  </footer>
</div> #}
