

<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active">
   <h1>Policies</h1>
   <p>We believe in clean-cut, straight forward approaches.  Try as we might we can't be perfect.<br />Please read through our policies below before you use our service.
       <li><a href="{{ path('limepolicy', {'policy': 'tos'}) }}">Terms of Service</a></li>
       <li><a href="{{ path('limepolicy', {'policy': 'privacy'}) }}">Privacy Policy</a></li>
       <li><a href="{{ path('limepolicy', {'policy': 'content'}) }}">Content Policy</a></li>
       <li><a href="{{ path('limepolicy', {'policy': 'conditions'}) }}">Terms and Conditions Policy</a></li>
   </ul>
</div>
