{% extends '::base.html.twig' %}

{% block content_content -%}
    <h1>ProjectInformation edit</h1>

    <form action="{{ path('projectinformation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

{% endblock %}
