{% extends '::base.html.twig' %}

{% block content_content -%}
    <h1>Store Information</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Store Number</th>
                <td>{{ entity.storeNumber }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city.name }}</td>
            </tr>
             <tr>
                <th>State</th>
                <td>{{ entity.state.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
