{% block sidebar %}
  <aside class="col-sm-3">
   {% block sidebar_content %}
   <div id="sidebar"></div>
   {% endblock sidebar_content %}
   
   {% block sidebar_footer %}
   <div id="sidebarfooter"></div>
   {% endblock sidebar_footer %}
  </aside>
{% endblock sidebar %}
