<!--<link rel="stylesheet" href="./Docs/revitui/tabs.css" />-->
<div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-modify inline" title=""/><p class="stacked">Modify<br></p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Select</strong>
  </p>
 </div>
</div>
<script>
$(document).ready(function(){
  $("p.inline").css({
    "cursor":"pointer"
  });
 });
</script>
