
<!--<link rel="stylesheet" href="./Docs/revitui/tabs.css" />-->
<div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-aligned inline" title="Use this dimension all the time"/><p class="stacked">Aligned</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-linear inline" title="Only use this when you can't get the Aligned dimension to work"/><p class="stacked">Linear</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-angular inline" title="measure angles"/><p class="stacked">Angular</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-radial inline" title="measure radii"/><p class="stacked">Radial</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-diameter inline" title="measure diameters"/><p class="stacked">Diameter</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-dimension-arc inline" title="measure the length of an arc"/><p class="stacked">Arc<br>Length</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-spot-elevation inline" title="Place a spot elevation"/><p class="stacked">Spot<br>Elevation</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-spot-coordinate inline" title="spot elevation which shows the top and bottom surfaces"/><p class="stacked">Spot<br>Coordinate</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-spot-slope inline" title="slope"/><p class="stacked">Spot<br>Slope</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Dimension</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-detailline inline" title="These are 2D lines and only show where ever you draw them"/><p class="stacked">Detail<br>Line</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-region inline" title="Like a CAD hatch.  Only shows where ever you draw it"/><p class="stacked">Region</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-detail-component inline" title="This is a 2D graphic similar to a CAD block. Only shows where you draw it"/>
         <ul class="dropdown">
           <li>Component<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-detail-component-repeating inline" title=""/>Repeating Component</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-detail-component-legend inline" title=""/>Legend Component</li>
             </ul>
           </li>
        </ul>
    </div>
    <div class="inline"><span class="revit-icon-medium revit-icon-revision-cloud inline" title="Sketch a Revision Cloud. The sketch is a double arc'ed line.  The smaller segments of line you draw the better the cloud looks"/><p class="stacked">Revision<br>Cloud</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-detailgroup inline" title="Create a grouping of 2D graphics"/><p class="stacked">Detail<br>Group</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-insulation inline" title="Draw Batt insulation lines.  You can trim/extend the insulation once drawn"/><p class="stacked">Insulation</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Detail</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-text inline" title="Create text notes"/><p class="stacked">Text</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-checkspelling inline" title="Spell checker.  Careful: it doesn't work well with abbreviations"/><p class="stacked">Check<br>Spelling</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-findreplace inline" title="Really nice for quickly changing text in the entire model"/><p class="stacked">Find&#47;<br>Replace</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Text</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-tag-bycategory inline" title=""/><p class="stacked">Tag by<br>Category</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-tag-all inline" title=""/><p class="stacked">Tag<br>All</p></div>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-tag-beam inline"/>Beam Annotations</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-multicategory inline"/>Multi-Category</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-material inline"/>Material Tag</p>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-tag-area inline"/>Area Tag</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-room inline"/>Room Tag</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-space inline"/>Space Tag</p>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-view-reference inline"/>View Reference</p>
      <p class="left-align"><span class="revit-icon revit-icon-stair-tread-number inline"/>Tread Number</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-rebar inline"/>Multi-Rebar</p>
  </div>
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-tag-keynote-element inline" title=""/>
         <ul class="dropdown">
           <li>Keynote<br><a href='./Keynoting.html'><span class="ui-icon ui-icon-circle-triangle-s inline"/></a>
             <ul class="sub_menu ui-widget-content">
               <li style="white-space:nowrap;" title="Keys to Elements"><span class="revit-icon-medium revit-icon-tag-keynote-element inline" />Element Keynote</li>
               <li style="white-space:nowrap;" title="Keys to Materials"><span class="revit-icon-medium revit-icon-tag-keynote-material inline"/>Material Keynote</li>
               <li style="white-space:nowrap;" title="Plain Text - Not related to anything in the model"><span class="revit-icon-medium revit-icon-tag-keynote-user inline"/>User Keynote</li>
             </ul>
           </li>
        </ul>
    </div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Tag</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <p class="left-align"><span class="revit-icon revit-icon-legend-duct inline"/>Duct Legend</p>
    <p class="left-align"><span class="revit-icon revit-icon-legend-pipe inline"/>Pipe Legend</p>
    <p class="left-align"><span class="revit-icon revit-icon-legend-color inline"/>Color Fill Legend</p>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Color Fill</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-symbol inline" title=""/><p class="stacked">Symbol</p></div>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-symbol-span inline"/>Span Direction</p>
      <p class="left-align"><span class="revit-icon revit-icon-symbol-beam inline"/>Beam</p>
      <p class="left-align"><span class="revit-icon revit-icon-stair-path inline"/>Stair Path</p>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-symbol-area inline"/>Area</p>
      <p class="left-align"><span class="revit-icon revit-icon-symbol-path inline"/>Path</p>
      <p class="left-align"><span class="revit-icon revit-icon-symbol-fabric inline"/>Fabric</p>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Symbol</strong>
  </p>
 </div>
</div>
<script>
$(document).ready(function(){
  $("div.inline, p.inline").css({
    "cursor":"pointer"
  });
});
$(function(){
    $("ul.dropdown li").hover(function(){
        if($(this).hasClass("ui-state-disabled") == false){
          $(this).addClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'visible');
    }, function(){
        if($(this).hasClass("ui-corner-all ui-state-hover") == true){
          $(this).removeClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'hidden');
    });
    $('ul.dropdown').addClass("stacked");
    $('ul.dropdown li ul li').removeClass("stacked").addClass("left-align");
});
</script>
