
<!--<link rel="stylesheet" href="./Docs/revitui/tabs.css" />-->
<div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-wall inline" title="Use the Structural Wall for exterior walls"/>
         <ul class="dropdown">
           <li>Wall<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li class="ui-state-disabled" style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wall inline" title="Use the Structural Wall for exterior walls"/>Wall: Architectural</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wall-structure inline" title="Use the Structural Wall for exterior walls"/>Wall: Structural</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wall-byface inline" title="Use the Structural Wall for exterior walls"/>Wall by Face</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wall-sweep inline" title="Use the Structural Wall for exterior walls"/>Wall: Sweep</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wall-reveal inline" title="Use the Structural Wall for exterior walls"/>Wall: Reveal</li>
             </ul>
           </li>
        </ul>
    </div>
    <div class="inline"><span class="revit-icon-medium revit-icon-door inline" title="Doors go in walls.  So add a wall first."/><p class="stacked">Door</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-window inline" title="Windows go in walls.  So add a wall first."/><p class="stacked">Window</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-component inline" title="Custom things like bollards, ovens, bisons"/>
         <ul class="dropdown">
           <li>Component<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-component-modelinplace inline" title="Use to make custom pieces for the current model only"/>Model In-Place</li>
             </ul>
           </li>
        </ul>
    </div>
    <div class="inline"><span class="revit-icon-medium revit-icon-column inline" title="Columns; but you should let structure place to load bearing ones."/><p class="stacked">Column</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-roof inline" title="Makes a Roof"/>
         <ul class="dropdown">
           <li>Roof<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof inline" title=""/>Roof by Footprint</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof-extrusion inline" title=""/>Roof by Extrusion</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof-byface inline" title=""/>Roof by Face</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof-soffit inline" title=""/>Roof: Soffit</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof-fascia inline" title=""/>Roof: Fascia</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-roof-gutter inline" title=""/>Roof: Gutter</li>
             </ul>
           </li>
        </ul>
    </div>
    <div class="inline"><span class="revit-icon-medium revit-icon-ceiling inline" title="Place ceilings in a Reflected Ceiling plan"/><p class="stacked">Ceiling</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-floor inline" title="Makes a floor"/><p class="stacked">Floor</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-curtain-system inline" title="Makes a curtain wall"/><p class="stacked">Curtain<br>System</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-curtain-grid inline" title="Modifies the curtain wall layout"/><p class="stacked">Curtain<br>Grid</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-mullion inline" title="Adds mullions to a curtain wall layout"/><p class="stacked">Mullion</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Build</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-railing inline"/><p class="stacked">Railing<br>&nbsp;</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-ramp inline"/><p class="stacked">Ramp</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-stair inline"/><p class="stacked">Stair</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Circulation</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-modeltext inline"/><p class="stacked">Model<br>Text</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-modelline inline"/><p class="stacked">Model<br>Line</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-modelgroup inline"/><p class="stacked">Model<br>Group</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Model</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-room inline"/><p class="stacked">Room</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-room-separator inline"/><p class="stacked">Room<br>Separator</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-room-tag inline"/><p class="stacked">Tag<br>Room</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-area inline"/><p class="stacked">Area</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-area-boundary inline"/><p class="stacked">Area<br>Boundary</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-area-tag inline"/><p class="stacked">Tag<br>Area</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Room &amp; Area</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-opening-byface inline"/><p class="stacked">By Face</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-opening-shaft inline"/><p class="stacked">Shaft</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-opening-wall inline"/><p class="stacked">Wall</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-opening-vertical inline"/><p class="stacked">Vertical</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-opening-dormer inline"/><p class="stacked">Dormer</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Opening</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-level inline"/><p class="stacked">Level</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-grid inline"/><p class="stacked">Grid</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Datum</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-plane-set inline"/><p class="stacked">Set</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-plane-show inline"/><p class="stacked">Show</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-plane-ref inline"/><p class="stacked">Ref<br>Plane</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-plane-viewer inline"/><p class="stacked">Viewer</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Work Plane</strong>
  </p>
 </div>
</div>
<script>
$(document).ready(function(){
  $("p.inline").css({
    "cursor":"pointer"
  });
});
  $(function(){

    $("ul.dropdown li").hover(function(){
        if($(this).hasClass("ui-state-disabled") == false){
          $(this).addClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'visible');

    }, function(){
        if($(this).hasClass("ui-corner-all ui-state-hover") == true){
          $(this).removeClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'hidden');

    });
    $('ul.dropdown').addClass("stacked");
    $('ul.dropdown li ul li').removeClass("stacked").addClass("left-align");
});
</script>
