<!--<link rel="stylesheet" href="./Docs/revitui/tabs.css" />
<link rel="stylesheet" href="./Resource/ufd-base.css" text="text/css"/>-->

<div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-materials inline" title=""/><p class="stacked">Materials<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-objectstyles inline" title=""/><p class="stacked">Object<br>Styles</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-snaps inline" title=""/><p class="stacked">Snaps<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-project-information inline" title=""/><p class="stacked">Project<br>Information</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-project-parameters inline" title=""/><p class="stacked">Project<br>Parameters</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-project-units inline" title=""/><p class="stacked">Project<br>Units</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-project-parameters-shared inline" title=""/><p class="stacked">Shared<br>Parameters</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-project-transfer inline" title=""/><p class="stacked">Transfer<br>Project Standards</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-purge inline" title=""/><p class="stacked">Purge<br>Unused</p></div>
  </div>
  <div class="inline" style="border-left-color: #bababa; border-left-width: 1px; border-left-style: solid;">
    <div class="inline"><span class="revit-icon-medium revit-icon-settings-structural inline" title=""/><p class="stacked">Structural<br>Settings</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-settings-mep inline" title=""/><p class="stacked">MEP<br>Settings</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-settings-panelschedule inline" title=""/><p class="stacked">Panel Schedule<br>Templates</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-settings-additional inline" title=""/>
         <ul class="dropdown">
           <li>Additional<br>Settings<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-fill inline" title=""/>Fill Styles</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-material inline" title=""/>Material Assets</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-analysis inline" title=""/>Amalysis Settings</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-line-styles inline" title=""/>Line Styles</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-line-weights inline" title=""/>Line Weights</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-line-patterns inline" title=""/>Line Patterns</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-underlay inline" title=""/>Underlay Settings</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-sun inline" title=""/>Sun Settings</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-arrowhead inline" title=""/>Arrowhead Settings</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-temporarydimensions inline" title=""/>Temporary Dimensions</li>
               <li style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-settings-detaillevel inline" title=""/>Detail Level Settings</li>
             </ul>
           </li>
        </ul>
    </div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Settings</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-location inline" title=""/><p class="stacked">Location<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-coordinates inline" title=""/><p class="stacked">Coordinates<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-position inline" title=""/><p class="stacked">Position<br></p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Project Location</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-designoptions inline" title=""/><p class="stacked">Design<br>Options</p></div>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-designoptions-addtoset inline"/>Add to Set</p>
      <p class="left-align"><span class="revit-icon revit-icon-designoptions-pick inline"/>Pick to Edit</p>
      <p class="left-align">
        <span class="ufd ui-widget ui-widget-content uiCss" style="float: none; margin: 2px; width: 304px;">
          <input type="text" id="ufd-uiCss-combo" class="ui-widget-content" name="ufd-uiCss-combo" style="width: 276px;">
            <button type="button" tabindex="-1" class="ui-button">
              <div class="ui-icon ui-icon-triangle-1-s"></div>
            </button>
            <select id="uiCss-combo" name="uiCss-combo">
              <option value="">Main Model</option>
              <option value="Design1">Option 1</option>
              <option value="Design2">Option 2</option>
          </select>
        </span>
      </p>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Design Options</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-manage-links inline" title=""/><p class="stacked">Manage<br>Links</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-manage-images inline" title=""/><p class="stacked">Manage<br>Images</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-manage-decals inline" title=""/><p class="stacked">Decal<br>Types</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-starting inline" title=""/><p class="stacked">Starting<br>View</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Manage Project</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-phases inline" title=""/><p class="stacked"><br>Phases</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Phasing</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-selection-save inline"/>Area Tag</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-room inline"/>Room Tag</p>
      <p class="left-align"><span class="revit-icon revit-icon-tag-space inline"/>Space Tag</p>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Selection</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-selectionid inline" title=""/><p class="stacked">IDs of<br>Selection</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-selectid inline" title=""/><p class="stacked">Select<br>by ID</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-warnings inline" title=""/><p class="stacked">Warnings<br></p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Inquiry</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline" >
    <div class="inline"><span class="revit-icon-medium revit-icon-macro-manage inline" title=""/><p class="stacked"><br>Macro</p>Manager</div>
    <div class="inline"><span class="revit-icon-medium revit-icon-macro-security inline" title=""/><p class="stacked">Macro<br>Security</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Macros</strong>
  </p>
 </div>
</div>
<script>
$(document).ready(function(){
  $("p.inline").css({
    "cursor":"pointer"
  });
 });
   $(function(){
    $("ul.dropdown li").hover(function(){
        if($(this).hasClass("ui-state-disabled") == false){
          $(this).addClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'visible');

    }, function(){
        if($(this).hasClass("ui-corner-all ui-state-hover") == true){
          $(this).removeClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'hidden');

    });
    $('ul.dropdown').addClass("stacked");
    $('ul.dropdown li ul li').removeClass("stacked").addClass("left-align");
});
</script>
