<!--<link rel="stylesheet" href="./Docs/revitui/tabs.css" />-->
<div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-viewtemplates inline" title=""/>
         <ul class="dropdown">
           <li>View<br>Templates<br><span class="ui-icon ui-icon-circle-triangle-s inline"/>
             <ul class="sub_menu ui-widget-content">
               <li class="ui-state-disabled" style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-viewtemplates-apply inline" title=""/>Apply Template</li>
               <li class="ui-state-disabled" style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-viewtemplates-create inline" title=""/>Create From View</li>
               <li class="ui-state-disabled" style="white-space:nowrap;"><span class="revit-icon-medium revit-icon-wrench inline" title=""/>Manage Templates</li>
             </ul>
           </li>
        </ul>
    </div>
    <div class="inline"><span class="revit-icon-medium revit-icon-visibilitygraphics inline" title=""/><p class="stacked">Visibility<br>Graphics</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-filters inline" title=""/><p class="stacked">Filters<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-thinlines inline" title=""/><p class="stacked">Thin<br>Lines</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-hiddenlines-show inline" title=""/><p class="stacked">Show<br>Hidden Lines</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-hiddenlines-remove inline" title=""/><p class="stacked">Remove<br>Hidden Lines</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-cutprofile inline" title=""/><p class="stacked">Cut<br>Profile</p></div>
  </div>
  <div class="inline" style="border-left-color: #bababa; border-left-width: 1px; border-left-style: solid;">
    <div class="inline"><span class="revit-icon-medium revit-icon-render inline" title=""/><p class="stacked"><br>Render</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-render-cloud inline" title=""/><p class="stacked">Render<br>in Cloud</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-render-gallery inline" title=""/><p class="stacked">Render<br>Gallery</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Graphics</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-3dview inline" title=""/><p class="stacked">3D<br>View</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-section inline" title=""/><p class="stacked">Section<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-callout inline" title=""/><p class="stacked">Callout<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-plan inline" title=""/><p class="stacked">Plan<br>Views</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-elevation inline" title=""/><p class="stacked">Elevation<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-drafting inline" title=""/><p class="stacked">Drafting<br>View</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-duplicate inline" title=""/><p class="stacked">Duplicate<br>View</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-legend inline" title=""/><p class="stacked">Legends<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-schedule inline" title=""/><p class="stacked">Schedules<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-view-scopebox inline" title=""/><p class="stacked">Scope<br>Box</p></div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Create</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-sheet inline" title=""/><p class="stacked">Sheet<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-addview inline" title=""/><p class="stacked">View<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-titleblock inline" title=""/><p class="stacked">Title<br>Block</p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-revisions inline" title=""/><p class="stacked">Revisions<br></p></div>
    <div class="inline"><span class="revit-icon-medium revit-icon-guidegrid inline" title=""/><p class="stacked">Guide<br>Grid</p></div>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-view-matchline inline"/>Matchline</p>
      <p class="left-align"><span class="revit-icon revit-icon-view-reference inline"/>View Reference</p>
      <p class="left-align"><span class="revit-icon revit-icon-viewports inline"/>Viewports</p>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Sheet Composition</strong>
  </p>
 </div>
 <div class="ui-widget-content inline">
  <div class="inline">
    <div class="inline"><span class="revit-icon-medium revit-icon-window-switch inline" title=""/><p class="stacked"><br>Switch</p>Windows</div>
    <div class="inline"><span class="revit-icon-medium revit-icon-window-closehidden inline" title=""/><p class="stacked">Close<br>Hidden</p></div>
  </div>
  <div class="inline" style="clear:right">
      <p class="left-align"><span class="revit-icon revit-icon-view-matchline inline"/>Matchline</p>
      <p class="left-align"><span class="revit-icon revit-icon-view-reference inline"/>View Reference</p>
      <p class="left-align"><span class="revit-icon revit-icon-viewports inline"/>Viewports</p>
  </div>
  <div class="inline">
    <div id="press" class="inline"><span class="revit-icon-medium revit-icon-ui inline" title=""/><p class="stacked"><br>User</p>Interface</div>
  </div>
  <p class="center" style="border-top-color: #bababa; border-top-width: 1px; border-top-style: solid;">
    <strong >Windows</strong>
  </p>
 </div>
</div>
<script>
$(document).ready(function(){
  $("p.inline").css({
    "cursor":"pointer"
  });
 });
$(function(){

    $("ul.dropdown li").hover(function(){
        if($(this).hasClass("ui-state-disabled") == false){
          $(this).addClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'visible');

    }, function(){
        if($(this).hasClass("ui-corner-all ui-state-hover") == true){
          $(this).removeClass("ui-corner-all ui-state-hover");
        }
        $('ul:first',this).css('visibility', 'hidden');

    });
    $('ul.dropdown').addClass("stacked");
    $('ul.dropdown li ul li').removeClass("stacked").addClass("left-align");
});
</script>
