{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProjectInformation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>rundates</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.rundate }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
