{% extends '::base.html.twig' %}

{% use 'LimeTrailBundle:Contact:script.html.twig' %}

{% block content_content %}
    <h1>Over ride dates</h1>
      <div id="clear" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active">
    {{ form_start(edit_form) }}
      {{ form_errors(edit_form) }}

    {{ form_end(edit_form) }}

        <div class="button" style="margin-top: 25px;">
        <a href="{{ path('rha_project_forecast') }}">
            Back to the list
        </a>
    </div>

</div>
{% endblock %}
