
<!doctype html>
<html lang="us">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>Revit Modeling and Drawing Standards</title>

    <link rel="stylesheet" href="Resource/site.css" />
    <link href='http://fonts.googleapis.com/css?family=Inder|Exo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="Resource/svg.css"/>
     <script src="js/jquery-1.10.2.min.js"></script>
     <script src="js/jquery-ui-1.10.3.custom.js"></script>


</head>

<body>
   <div id="article" class="ui-widget ui-helper-clearfix" >
      <div class="header clear-fix">
        <div class="center">
          <img class="border" src="Content/RHA_logo_build.png" width="30%" align="middle"/><h1>Revit UI Icons</h1>
        </div>
      </div>
      <div class="border"><strong class="border">Revit Icons 18px</strong>
       <p><span class="ui-icon ui-icon-carat-1-n"style="float: left; margin-right: .3em;"></span>ui-icon-carat-1-n</p> 
       <p><span class="ui-icon ui-icon-carat-1-ne"style="float: left; margin-right: .3em;"></span>ui-icon-carat-1-ne</p>  
      </div>
      <div id="svg-content"></div>
   </div>
</body>
<script>
$.ajax({
  url:'/Resource/carat.svg', 
  success:function(data){
    $('#svg-content').html(data);
    /*$('#ui-icon-carat').click(function(){
      alert('you click it');
    });*/
  }
});
</script>
</html>


